<?xml version="1.0" encoding="utf-8"?>
<SettingsBase xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:type="Settings">
  <DatabasePath>Y:\ManageStock.db</DatabasePath>
  <EnabledNotifications>true</EnabledNotifications>
  <EnabledEmailNotifications>false</EnabledEmailNotifications>
  <EmailNotifications>info@hfmb.ch</EmailNotifications>
</SettingsBase>